<div class="row" id="url" style="padding-top:130px;">
    <h1><%= message %></h1>
    <div class="large-4 medium-4 large-centered medium-centered columns">
        <a href="http://down.yt/" class="large-12 medium-12 columns button tiny radius envia error"><b>Return to home page</b></a>
    </div>
</div>