		<div id="how-help">

			<div id="title">How use Down.YT to Download Youtube's Videos?</div>
			<div id="container-txt"> 
				It's very simple! Simply Past your video URL (Youtube) and Clik on Donw! You will be redirected to the download page, there will be some options to only download the MP3 (Click on: Audio Download) And wait for converting the file, just when converting finished. A button will be enabled you can click and you're done! Also has other options like Download Video, just select the format and ready, the download starts!

			</div>
		</div>