<form method="post" id="url">
    <div id="sus-form">
        <input type="text" placeholder="Video URL" required class="basic-input">
        <input type="submit" value="Down!" class="basic-button">
    </div>
</form>