<form class="row" id="url" align="center" style="padding-top:130px;">
    <div id="alert-container">
        <div data-alert class="large-12 medium-12 columns alert-box alert" style="display:none" id="alert-form">
            Error: Not a valid YouTube URL - Please check this.
            <a href="#" class="close">&times;</a>
        </div>
    </div>
    <div class="large-10 medium-10 columns">
        <input type="text" placeholder="YouTube URL" class="radius" name="vid">
    </div>
    <div class="large-2 medium-2 columns right">
        <button id="bt1" class="button tiny radius envia"><b>Go!</b></button>
    </div>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</form>