<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="http://74.118.192.245:3000/css/foundation.min.css" />
    <script src="http://74.118.192.245:3000/js/modernizr.js"></script>
</head>
<body>
<div id="origin" class="reveal-modal tiny" data-reveal>
    <h2>Download</h2>
    <p class="lead">Preparing file.. please wait</p>
    <div class="large-12 medium-12 columns" id="dl_origin">
        <img id="loading" src="http://down.yt:3000/img/loader.gif">
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>
<div id="mp3" class="reveal-modal tiny" data-reveal>
    <h2>Download</h2>
    <p class="lead">Preparing file.. please wait</p>
    <div class="large-12 medium-12 columns" id="dl_mp3">
        <img id="loading" src="http://down.yt:3000/img/loader.gif">
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>
<div class="row" style="padding-top:60px;">
    <a href="http://down.yt" class="large-10 medium-10 columns logo" title="Return to index page"></a>
    <div class="large-2 medium-2 columns menu">
        <iframe src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21&amp;appId=452189008221814" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
        <a href="#" title="Contato"><i class="fa fa-envelope"></i></a>
        <a href="#" title="Sobre"><i class="fa fa-user"></i></a>
    </div>
</div>
<%- body %>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://74.118.192.245:3000/js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
<script src="http://74.118.192.245:3000/js/all.js"></script>
</body>
</html>
