@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

/* Isaque Brasileiro: Front-End - isaquegbmelo2@gmail.com */
/* Matheus Gimenez : Back-End - youremail@email.com */

/*RESET*/
body,html{height:100%!important;min-height:100%!important}body{overflow-x:hidden;webkit-animation:bugfix infinite 1s}@-webkit-keyframes bugfix{from,to{padding:0}}a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{border:0;font:inherit;margin:0;padding:0;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:none}table{border-collapse:collapse;border-spacing:0}*{border:0;box-sizing:border-box;margin:0;moz-box-sizing:border-box;outline:0!important;padding:0;webkit-box-sizing:border-box;webkit-focus-ring-color:transparent!important;webkit-tap-highlight-color:transparent!important}html{font-size:1em;ms-text-size-adjust:1em;webkit-text-size-adjust:1em}body{vertical-align:baseline}button,html,input,select,textarea{font-family:inherit;}
meta.foundation-data-attribute-namespace {
  font-family: false; }

a {text-decoration: none;color: white;}


#all {
	width: 100%;
	background: #6d6d6d;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM2ZDZkNmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNTI1MjU0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  #6d6d6d 0%, #525254 100%); 
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#6d6d6d), color-stop(100%,#525254)); 
	background: -webkit-radial-gradient(center, ellipse cover,  #6d6d6d 0%,#525254 100%);
	background: -o-radial-gradient(center, ellipse cover,  #6d6d6d 0%,#525254 100%); 
	background: -ms-radial-gradient(center, ellipse cover,  #6d6d6d 0%,#525254 100%); 
	background: radial-gradient(ellipse at center,  #6d6d6d 0%,#525254 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6d6d', endColorstr='#525254',GradientType=1 );
	padding-top: 30px;
	height: 100%;
	background-size: cover cover;
}

#line-top {
	width: 100%;
	height:10px;
	background-color: rgba(158,158,158,0.32);
	position: absolute;
	top: 0;
	z-index: 1;
}

#line-bottom {
	width: 100%;
	height:10px;
	background-color: rgba(158,158,158,0.32);
	position: fixed;
	bottom: 0;
	
	z-index: 1;
}

#logo{
	width: 180px;
	height: 167px;
	background: url(../img/logo.png) no-repeat;
	margin-right: auto;
	margin-left: auto;
	background-size: 180px;
	
}

a #item {
	color: white;
	text-decoration: none;
}
#item{
	width: 38px;
	height: 38px;
	background: rgba(158,158,158,0.66);
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	-ms-border-radius:100%;
	-o-border-radius:100%;
	border-radius:100%;
	font-family: Lao UI;
	color: white;
	font-size: 27px;
	line-height: 38px;
	text-align: center;
	margin-bottom: 8px;

}

#item:hover{
	background: rgba(158,158,158,0.80);
}

#item .icon-mail{
	font-size: 20px;
	text-align: center;
}

#item #no-erros {
	font-size: 17px;
}

.dark-tooltip{
	font-family: Open Sans;
	border: none!important;
	color: white!important;
	background-color:#838383!important;


}

#container-right{
	position: absolute;
	right: 35px;
	top: 25px;
}


#container{

	width: 591px;
	height: 428px;
	background-color: #828283;
	margin-right: auto;
	margin-left: auto;
	padding: 15px;
}

#name-video{
	font-family: Open Sans, serif;
	font-size: 22px;
	color: white;
	font-weight: 500;
}

#the-video{
	margin-top: 15px;
}

#download-video{
	width: 270px;
	height:40px;
	background-color: #E74C3C;
	font-family: Open Sans;
	color: white;
	font-size: 15px;
	text-align: center;
	line-height: 40px;
	margin-top: 5px;
	float: left;
	font-weight: 300;

}

#download-mp3{
	width: 270px;
	height:40px;
	background-color: #E74C3C;
	font-family: Open Sans;
	color: white;
	font-size: 15px;
	text-align: center;
	line-height: 40px;
	margin-top: 5px;
	float: left;
	margin-left: 20px;

}

#vd-o{
	background-color:#E74C3C;
	color: white;
	position: relative;
	left: 0px;
	top: -160px;
}

#vd-o li a {
	color: white;
	z-index: 9999;
}

#modalTitle{
	font-family: Open Sans;
	font-size: 30px;
	color: white;
	display: block;
}

#modalTxt{
	font-family: Open Sans;
	font-size: 20px;
	color: white;
	display: block;
	padding-top: 15px;
}

#DowBtt{
	width: 591px;
	height: 40px;
	background-color:#E74C3C;
	color: white;
	text-align: center;
	margin-top: 30px;
	font-size: 23px;
	line-height: 40px;
	font-family: Open Sans;
}

#musicModal{
	background-color: #9E9E9E;
	width: 650px;
	border-radius: 0px!important;
	box-shadow: none!important;
	border: 0px!important;
}

#r-video{
	width: 560px;
	height: 315px;
}

@media (max-width:604px){
	#logo {
		width:166px;
		height:116px;
		background: url(../img/logo_mini.png) no-repeat center;
	}

	#sus-form{
		width:60%;
	}

	.basic-input{
		width:80%;
	}

	#container {
		width: 400px;
		height: 330px;
		margin-top: 20px;
	}

	#r-video {
		width: 370px;
		height: 235px;
	}

	#download-video {
	width: 175px;
	height: 30px;
	font-size: 16px;
	line-height: 30px;
	margin-top: 2px;
	float: left;
	font-weight: 300;
	}

	a #download-mp3{
		width: 175px;
		height: 30px;
		font-size: 16px;
		line-height: 30px;
		float: left;
		margin-left: 20px;
		margin-top: 2px;

	}

	#name-video {
		font-size: 20px;
	}

}


@media (max-width: 353px){
	#all {
		height:550px;
	}
	
	#line-bottom {
		position: absolute;
		top: 540px;
	}

	.basic-input {
		width:73.35%;
		font-size: 13px;
	}
	
	.basic-button{
		font-size:13px;
	}

	#sus-form {
		width:45%;
	}

	#item{
		width:28px;
		height: 28px;
		font-size: 17px;
	}

	#container-right {
		position: absolute;
		right: 15px;
		top: 25px;
	}



	

	#container {
		width: 280px;
		height: 330px;
		margin-top: 20px;
	}

	#r-video {
		width: 250px;
	}

	#download-video {
	width: 120px;
	height: 30px;
	font-size: 13px;
	line-height: 30px;
	margin-top: 2px;
	float: left;
	font-weight: 300;
	}

	a #download-mp3{
		width: 120px;
		height: 30px;
		font-size: 13px;
		line-height: 30px;
		float: left;
		margin-left: 10px;
		margin-top: 2px;

	}

	#name-video {
		font-size: 17px;
	}
	
	
}