@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

/* Isaque Brasileiro: Front-End - isaquegbmelo2@gmail.com */
/* Matheus Gimenez : Back-End - youremail@email.com */

/*RESET*/
body,html{height:100%!important;min-height:100%!important}body{overflow-x:hidden;webkit-animation:bugfix infinite 1s}@-webkit-keyframes bugfix{from,to{padding:0}}a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{border:0;font:inherit;margin:0;padding:0;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:none}table{border-collapse:collapse;border-spacing:0}*{border:0;box-sizing:border-box;margin:0;moz-box-sizing:border-box;outline:0!important;padding:0;webkit-box-sizing:border-box;webkit-focus-ring-color:transparent!important;webkit-tap-highlight-color:transparent!important}html{font-size:1em;ms-text-size-adjust:1em;webkit-text-size-adjust:1em}body{vertical-align:baseline}button,html,input,select,textarea{font-family:inherit;}


a {text-decoration: none;}

#all {
	width: 100%;
	height: 100%;
	position:fixed;
	left:0;
	bottom:0;
	right:0;
	background: #6d6d6d;
	background-size: cover cover; 

}

#container-center{
	width: 567px;
	height: 282px;
	position:absolute; 
    top:50%; 
    left: 50%;
    margin-top:-141px;
    margin-left: -283.5px;
    overflow: hidden; 
}

#logo{
	width: 244px;
	height: 166px;
	margin-right: auto;
	margin-left: auto;
	background:url(../img/logo.png) no-repeat;
}

#sus-form{
	width: 565px;
	height: 35px;
	background-color: white;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
	margin-top: 80px;

}

.basic-input{
	width: 497px;
	height: 35px;
	background-color: white;
	border: none;
	font-family: Open Sans;
	font-size: 15px;
	text-align: center;
	float: left;

}

.basic-button{
	cursor: pointer;
	width: 68px;
	height: 35px;
	background-color: #E74C3C;
	color: white;
	font-family: Open Sans;
	font-size: 16px;
	line-height: 35px;
}

.basic-button:active{
	background-color: #B62616;
}


.basic-input::-webkit-input-placeholder { 
	color: rgba(158,158,158,0.66);
}
.basic-input:-moz-placeholder { 
	color: rgba(158,158,158,0.66);
}
.basic-input::-moz-placeholder { 
	color: rgba(158,158,158,0.66);
}
.basic-input:-ms-input-placeholder { 
	color: rgba(158,158,158,0.66);
}

#container-right{
	position: absolute;
	right: 35px;
	top: 25px;
}
a #item {
	color: white;
	text-decoration: none;
}
#item{
	width: 38px;
	height: 38px;
	background: rgba(158,158,158,0.66);
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	-ms-border-radius:100%;
	-o-border-radius:100%;
	border-radius:100%;
	font-family: Lao UI;
	color: white;
	font-size: 27px;
	line-height: 38px;
	text-align: center;
	margin-bottom: 8px;

}

#item:hover{
	background: rgba(158,158,158,0.80);
}

#item .icon-mail{
	font-size: 20px;
	text-align: center;
}

#item #no-erros {
	font-size: 17px;
}

.dark-tooltip{
	font-family: Open Sans;
	border: none!important;
	color: white!important;
	background-color:#838383!important;


}

#line-top{
	width: 100%;
	height: 8px;
	background-color: rgba(158,158,158,0.32);
	position: absolute;
	top: 0px;
}

#line-bottom{
	width: 100%;
	height: 8px;
	background-color: rgba(158,158,158,0.32);
	position: fixed;
	bottom: 0px;
}

/*MOBILE*/

@media (max-width:604px){
	#logo {
		width:166px;
		height:116px;
		background: url(../img/logo_mini.png) no-repeat center;
	}

	#sus-form{
		width:60%;
	}

	.basic-input{
		width:80%;
	}
}


@media (max-width: 353px){
	
	.basic-input {
		width:73.35%;
		font-size: 13px;
	}
	
	.basic-button{
		font-size:13px;
	}

	#sus-form {
		width:45%;
	}

	#item{
		width:28px;
		height: 28px;
		font-size: 17px;
	}

	#container-right {
		position: absolute;
		right: 15px;
		top: 25px;
	}
}